*{
    margin: 0;
    padding: 0;
}
.back{
    position: absolute;
}
.hadees{
    position: absolute;
    right: -29px;
    top: 250px;
    word-wrap: break-word;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
    
}
button{
    position: absolute;
    right: 80px;
    top: 500px;

}